@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Book it.gr is our company's administrative site for storage and managment of our products data.</p>
    <div style="background-color:#375a7f;" class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong style="font-style: italic;">Below you can see details on how to navigate through our site, edit our database and also run queries!</strong>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:#00bc8c;">Navigate</h2>
        <p>
            You can use the navigation bar on top to navigate through our "Home" page,
            "Company" list, "Publishers" list , "Books" list and "Other" list. 
            Each of these categories have subcategories which correspond to the 
            existing tables of our database.
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#00bc8c;">Editing Database</h2>
        <p>
            Through each separate category of the navigation bar you can virtually 
            view the data of each table of our database and customize it by creating, 
            editing and deleting rows of data. You can also see details on each row.
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#00bc8c;">Running queries</h2>
        <p>
            By selecting "Queries" from navigation bar you can toggle between first and
            second query. On the former, you can view contact details of authors based on their best-sellers
            throughout a certain time period. On the latter, you can view information about previous orders
            based on stores' names and certain period of time.
        </p>
    </div>
</div>
<br /><br /><br /><br/>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Well done!</h3>
    </div>
    <div class="panel-body">
        If you read the above, then you learned everything you need to know! You are ready to use our website!
    </div>
</div>
<br /><br />